# ################################################################################
# for-development-only
#
# coverage
# pip-review
# pyinstaller
# pytest
# pytest-cov
# ruff


# ################################################################################
# prerequisite, required-to-work.

click
docker
humanize
pdf2image
pyyaml
sqlalchemy
