# ################################################################################
# for-development-only
#
# coverage
# pip-review
# pyinstaller
# pytest
# pytest-cov
# ruff


# ################################################################################
# prerequisite, required-to-work.

browser-cookie3
click
docker
humanize
pdf2image
pyyaml
selenium
sqlalchemy
textual

